@import '../Variables.module.scss';

//LinkCard
.linkCardContainer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.26);
    margin-right: .45em;

    .cardContent {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        line-height: .4em;
        color: white;

        a {
            background-color: white;
            padding: 1.4em 2.2em;
            border-radius: 9px;
            font-weight: 700;
            color: rgb(58, 58, 180);
            align-items: center;

            &:hover {
                color: grey;
            }
        }
    }

}

//styles for Modal
.modalContainer {
    position: fixed;
    min-height: 100%;
    inset: 0 0 0 0;
    background-color: #000000bc;
    z-index: 10000;

    .modalContent {
        width: 70vw;
        max-width: 70em;
        background-color: #0a0a0a;
        aspect-ratio: 16/9;
        z-index: 10001;
        position: relative;

        video {
            width: 100%;
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10002;
            font-size: 1.5em;
            background-color: #00000092;
            height: 3.5em;
            width: 3.5em;
            color: white;
            border-radius: 50%;
            border: 2px solid white;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: #0a0a0a;
                background-color: #ffffff6e;
                font-weight: 800;
            }
        }

        .hidePlay {
            display: none;
        }

        .close {
            font-size: 2em;
            font-weight: 600;
            z-index: 10002;
            background-color: #000000bc;
            padding: .1em;
            color: white;
            position: absolute;
            top: 18px;
            right: -18px;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    @media (max-width: 800px) {
        .modalContent {
            width: 100%;

            .close {
                top: -1em;
                right: 1em;
            }
        }
    }
}

//styles for Many Info Tab
.infotabContainer {
    width: 70%;
    margin: 0 auto;
    flex-direction: column;

    .titleContainer {
        width: 100%;
        background-color: aliceblue;
        overflow: hidden;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .activeValor {
        color: blueviolet;
        font-weight: 900;
    }

    .title {
        color: #103a52;
        padding: 1em 1em;
        margin: 2px;
        font-size: 1em;

        &:hover {
            color: #756969ac;
        }

        cursor: pointer;
    }

    .description {
        background-color: transparent;
        padding: 2em 3em;
        line-height: 1.4em;
    }

    @media (max-width:1200px) {
        width: 100%;

        .description {
            padding: .6em 1em;
        }

        .titleContainer {
            .title {
                font-size: .8em;
                padding: .5em .5em;
            }
        }
    }
}

// styles for Tab
.tabContainer {
    min-height: 25em;
    margin: 2em 0;

    .choices {
        width: 100%;
        background-color: #adadad;
        color: white;
        text-align: center;
        gap: 1em;
        padding-right: 1em;
        cursor: pointer;

        h3 {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .active {
        background-color: rgb(255, 255, 255);
        height: 2em;
        padding: 1em;
        color: #0a0a0a;
    }

    .description {
        width: 80%;
        min-height: 25em;
        margin: 1em auto;
        padding: 1em;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.185);
    }
}

//styles for Suggestions
.suggestionsContainer {
    min-height: 20em;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: 2;

    .links {
        width: 25em;
        padding: 1em;
        text-align: center;
        background-color: rgb(255, 255, 255);
        gap: 0;
        box-shadow: inset -10px -100px 100px rgb(200, 200, 248);
        outline: 1px solid grey;

        &:hover {
            box-shadow: inset -10px -80px 90px rgb(48, 179, 255);
            transition: box-shadow 1s ease-in;
        }

        a {
            background-color: rgb(255, 255, 255);
            padding: .4em;
            margin: .2em;
            border-radius: 7px;
            border: 1px solid black;
        }
    }
}

//WhatsUp Bug
.whatsupContainer {
    position: fixed;
    right: .4em;
    top: 80%;
    z-index: 1;
    background-color: green;
    display: inline-block;
    border-radius: 50%;
    padding: .7em;
    box-shadow: 1px 1px 14px #00ff80d6;
    animation: glow 3s ease-in-out infinite;

    .whatsupIcon {
        font-size: 4em;
        color: #ffffff;
    }
}

@keyframes glow {
    0% {
        rotate: 10deg;
        background-color: #2fc96f;
        transform: scale(.8);
    }

    50% {
        rotate: -10deg;
        transform: scale(1);
    }

    100% {
        rotate: 10deg;
        background-color: #2fc96f;
        transform: scale(.8);
    }
}

@media (max-width: 700px) {
    .whatsupContainer {
        .whatsupIcon {
            font-size: 2.5em;
        }
    }
}

//Event Card
.eventCard {
    text-align: center;
    overflow: hidden;
    border-radius: .4em;
    min-height: 28em;
    background-color: rgb(255, 255, 255);
    color: #103a52;
    outline: 1px solid black;

    .imageContainer {
        position: relative;
        min-height: 28em;
        width: 100%;
        margin-bottom: 1em;

        img {
            height: 15em;
            z-index: 1;
            opacity: 1;
        }
    }
}