$primary-bg-color: #ffffff;
$secondary-bg-color: #111111c5;
$primary-text-color: #344854;
$secondary-text-color: #ffffff;
$active-link-color: #1d65c1;
$inactive-link-color: #589cf5;
$linear-gradient: linear-gradient(to right, rgba(165, 102, 154, 0.603), rgba(139, 139, 248, 0.479));
$linear-gradient-bottom-black: linear-gradient(to bottom, rgba(255, 255, 255, 0.137), rgba(5, 5, 5, 0.295), rgb(0, 0, 0))