//live viveo container
.liveContainer {
    height: 100%;

    .liveVideoContainer {
        height: 44em;
        background-color: black;
    }
}


//NavBar
.navbarContainer {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    max-width: 1600px;
    min-width: 300px;
    margin: 2em auto;
    padding: 0 1em;
    z-index: 100;

    .logo {
        position: relative;
        height: 55px;
        width: 175px;
        z-index: 2;

        img {

            object-fit: contain;
        }
    }

    .liveWidget {
        width: 100%;
        text-align: center;
        position: relative;

        .liveBug {
            animation: live 10s ease infinite;
        }

        @keyframes live {
            0% {
                transform: rotateY(0deg) scale(1);
            }

            50% {
                transform: rotateY(359deg) scale(1.2);
            }

            100% {
                transform: rotateY(0deg) scale(1);
            }

        }

    }

    .linksContainer {
        width: 100%;
    }

    @media(max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
}

//Links component
.links {

    z-index: 100;
    width: 100%;

    ul {

        text-align: right;
        column-gap: 1em;

        a {
            font-weight: 700;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
            margin: 0 1em
        }
    }

    @media (max-width: 600px) {
        font-size: x-small;

        ul {
            text-align: center;
            margin-right: 6em;
        }
    }
}

//footer
.footerContainer {
    height: 15em;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.822);

    a {
        color: rgb(138, 231, 243);

        &:hover {
            color: white;
        }
    }

    ul {
        text-align: center;
    }

    .logo {
        position: relative;
        height: 100px;
        width: 120px;
        z-index: 2;
        margin: 0 auto;

        img {
            object-fit: fill;
            padding-top: 1em;
        }
    }
}

//slideshow
.slideShow {
    height: 44em;

    .slide {
        position: relative;
        height: 45em;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.616);

        img {
            object-fit: cover;
            z-index: -10;
        }

        .slideButton {
            width: 20em;
            margin: 34%;
            display: inline-block;
        }

        .videoWrapper {
            width: 100%;
            height: 100%;
            z-index: -3;

            iframe {
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
            }

        }
    }

    @media (max-width: 700px) {
        height: 20em;

        .slide {
            height: 20em;
            width: 100%;

            img {
                object-fit: fill;
            }

            .videoWrapper {
                height: 20em;
            }

        }
    }

}