html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #50b1df;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

a:hover {
  color: rgba(19, 19, 19, 0.527);
  transition: all 300ms ease;
}

button {
  border: none;
  padding: 1em 3em;
  font-weight: 700;
  border-radius: 6px;
  z-index: 2;
  cursor: pointer;
  box-shadow: 1px 2px 1px black;
  background-color: #fffffff5;
  color: #1098d6;
  ;
}

button:hover {
  box-shadow: 1px 2px 10px rgb(48, 193, 230);
  transition: all 500ms ease-in-out;
}

.text-shadow {
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.664),
    1px 1px 2px black;
}

.box-shadow {
  box-shadow: 1px 2px 4px black;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.responsive-grid-small {
  gap: .8em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 2fr));
}

.responsive-grid {
  gap: .7em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.object-fit-cover {
  object-fit: cover;
  z-index: -1;
}

.responsive-grid-large {
  gap: 1.2em;
  width: 100%;
  display: grid;
  padding: .1em 1em;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}